<%# 新規登録と編集 %>
<%= render "shared/errors", obj: @friend %>

<table class="attr">
    <tr>
        <th><%= form.label :name, "名前" %></th>
        <td><%= form.text_field :name, :placeholder => "Name" %></td>
    </tr>
</table>